<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Journal App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav class="main-nav">
      <a href="/">Home</a>
      <a href="/entries">Entries</a>
      <a href="/entries/new">New Entry</a>
    </nav>
    <main><%- body %></main>
  </body>
</html>
