<h1>Welcome to the Journal App!</h1>
<p>This is the starting point of our Journal Application.</p>
<p>Use the navigation links to create, browse, edit, and delete journal entries.</p>
<ul>
  <li><a href="/entries">View All Journal Entries</a></li>
  <li><a href="/entries/new">Create a Journal Entry</a></li>
</ul>
